.App {
  text-align: center;
}
img {
  width: 35em;
  height: 35em;
  /* object-fit: cover; */
}
footer{
  margin-top: 2%;
}
.linkedIn {
  font-weight: 700;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App > h1, h4 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  width: 100vw;
}