body, *{
  font-family: 'Lato', sans-serif;
}
.App {
  text-align: center;
}
img {
  width: 35em;
  height: 35em;
  /* object-fit: cover; */
}
footer{
  margin-top: 2%;
}
.linkedIn {
  font-weight: 700;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

